
body {
  background-color: rgb(246, 248, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputField {
  background-color: white;
  color: black;
  width: 100%;
  border: none;
}

.inputField:focus {
  border: none;
  outline: none;
}

.inputDiv {
  background-color: white;
  width: 600px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
}

.btn {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  background-color: blue;
  color: white;
}


.card {
  width: 600px;
  height: 400px;
  background-color: white;
  margin-top: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 40px;
}